/// Config variables for responsive layout

// Mobile
$xs: 0 !default;
$sm: 375px !default;
$md: 768px !default;

// Desktop
$lg: 1024px !default;
$xl: 1200px !default;
$xxl: 1920px !default;

/// Break-points, mobile first
$breakpoints: (
  "xs": "(min-width: #{$xs})",
  "sm": "(min-width: #{$sm})",
  "md": "(min-width: #{$md})",
  "lg": "(min-width: #{$lg})",
  "xl": "(min-width: #{$xl})",
  "xxl": "(min-width: #{$xxl})"
) !default;
